@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin image-gradient-background {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);

  background-size: cover;
  background-position: center;
}

@mixin gradient-primary-text {
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

// MEDIA QUERY MANAGER

@mixin respond($max-with) {
  @media (max-width: $max-with) {
    @content;
  }
}
