// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-background: #f1f1f1;
$color-background-dark: #29292b;

// FONTS
$font-size-default: 1.6rem;
$text-color-dark: #75787d;
$text-color-dark-2: #979aa0;
$text-color-light: rgb(179, 178, 189);

// GRID
$grid-width: 114rem; // 1140px
$gutter-horizontal: 10rem;
$gutter-vertical: 4rem;
