.img-composition {
  width: 33rem;
  margin-left: 2rem;
  position: relative;

  // 1200px
  @include respond(75em) {
    margin: 0 auto;
  }

  // 700px
  @include respond(43.75em) {
    width: 28rem;
  }

  transition: all 0.4s;
  &__img {
    width: 100%;
    position: absolute;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3);

    outline-offset: 2rem;
    transform: scale(0.8);
    transition: all 0.4s;

    &--1 {
      top: -3rem;
      left: 0;
    }

    &--2 {
      top: 0;
      left: 23rem;
    }

    &--3 {
      top: 9rem;
      left: 10rem;
    }

    @include respond(75em) {
      &--1 {
        top: 5rem;
        left: -50%;
      }

      &--2 {
        top: 5rem;
        left: 50%;
      }

      &--3 {
        top: 11rem;
        left: 0%;
      }
    }
  }

  &:hover &__img {
    transform: scale(0.85);
    filter: brightness(70%) blur(1px);
  }

  &:hover &__img:hover {
    outline: 1rem solid $color-primary;
    transform: scale(1.05);
    z-index: 1000;
    filter: brightness(130%) blur(0);
  }
}
