html {
  font-size: 62.5%; // 1rem = 10px

  // 1200px
  @include respond(81.25em) {
    font-size: 56.25%; // 1rem = 9px
  }

  // 800px
  @include respond(50em) {
    font-size: 50%; // 1rem = 8px
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 3rem;

  // 700px
  @include respond(43.75em) {
    padding: 0;
  }
}
